<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Commonwealth Coffee</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/commonwealth.css">
  </head>
  <body>
    <h1>Commonwealth Coffee</h1>
  </body>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</html>
